@font-face {
  font-family: 'klove-icons-32';
  src:  url('/styles/fonts/air1-icons-32/fonts/klove-icons-32.eot?3z17hl');
  src:  url('/styles/fonts/air1-icons-32/fonts/klove-icons-32.eot?3z17hl#iefix') format('embedded-opentype'),
    url('/styles/fonts/air1-icons-32/fonts/klove-icons-32.woff2?3z17hl') format('woff2'),
    url('/styles/fonts/air1-icons-32/fonts/klove-icons-32.ttf?3z17hl') format('truetype'),
    url('/styles/fonts/air1-icons-32/fonts/klove-icons-32.woff?3z17hl') format('woff'),
    url('/styles/fonts/air1-icons-32/fonts/klove-icons-32.svg?3z17hl#klove-icons-32') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'klove-icons-32' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e92f";
}
.icon-instagram:before {
  content: "\e930";
}
.icon-pinterest:before {
  content: "\e931";
}
.icon-twitter:before {
  content: "\e932";
}
.icon-youtube:before {
  content: "\e933";
}
.icon-give:before {
  content: "\e923";
}
.icon-caret-down:before {
  content: "\e928";
}
.icon-caret-left:before {
  content: "\e929";
}
.icon-caret-right:before {
  content: "\e92a";
}
.icon-caret-up:before {
  content: "\e92b";
}
.icon-kl-phone1:before {
  content: "\e92c";
}
.icon-kl-profile:before {
  content: "\e92d";
}
.icon-kl-radio1:before {
  content: "\e92e";
}
.icon-kl-bible:before {
  content: "\e906";
}
.icon-kl-download:before {
  content: "\e907";
}
.icon-kl-edit:before {
  content: "\e908";
}
.icon-kl-trash:before {
  content: "\e909";
}
.icon-kl-friends:before {
  content: "\e900";
}
.icon-kl-location:before {
  content: "\e901";
}
.icon-kl-log-in:before {
  content: "\e902";
}
.icon-kl-log-out:before {
  content: "\e903";
}
.icon-kl-music-note:before {
  content: "\e904";
}
.icon-kl-recently-played:before {
  content: "\e905";
}
.icon-kl-radio:before {
  content: "\e90a";
}
.icon-kl-search:before {
  content: "\e90b";
}
.icon-kl-home:before {
  content: "\e90c";
}
.icon-kl-microphone:before {
  content: "\e90d";
}
.icon-kl-star:before {
  content: "\e90e";
}
.icon-kl-calendar:before {
  content: "\e90f";
}
.icon-kl-news:before {
  content: "\e910";
}
.icon-kl-heart:before {
  content: "\e911";
}
.icon-kl-prayer:before {
  content: "\e912";
}
.icon-kl-signal:before {
  content: "\e913";
}
.icon-kl-phone:before {
  content: "\e914";
}
.icon-kl-card:before {
  content: "\e915";
}
.icon-kl-video:before {
  content: "\e916";
}
.icon-kl-play:before {
  content: "\e917";
}
.icon-kl-stop:before {
  content: "\e918";
}
.icon-kl-blog:before {
  content: "\e919";
}
.icon-kl-close:before {
  content: "\e91a";
}
.icon-kl-lyrics:before {
  content: "\e91b";
}
.icon-kl-image:before {
  content: "\e91c";
}
.icon-kl-arrow-body-left:before {
  content: "\e91d";
}
.icon-kl-arrow-body-right:before {
  content: "\e91e";
}
.icon-kl-solid-play:before {
  content: "\e91f";
}
.icon-kl-solid-stop:before {
  content: "\e920";
}
.icon-kl-trending:before {
  content: "\e921";
}
.icon-kl-headphones:before {
  content: "\e922";
}
.icon-klove_logo_no_tagline:before {
  content: "\e924";
}
.icon-klove-logo-tagline:before {
  content: "\e925";
}
.icon-kl-menu:before {
  content: "\e926";
}
.icon-play-fill:before {
  content: "\e927";
}
.icon-air1-logo-tagline-white:before {
  content: "\e934";
}
.icon-air1-logo-copy:before {
  content: "\e939";
}
.icon-vol-empty:before {
  content: "\e935";
}
.icon-vol-low:before {
  content: "\e936";
}
.icon-vol-loud:before {
  content: "\e937";
}
.icon-kl-filter:before {
  content: "\e938";
}
